@mixin mobile {
    @media(max-width: 767px) {

        //Timeline scss
        .news-container {
            grid-template-columns: $grid-1-column;
            padding: 0 70px;
        }

        //Single Page scss
        .article__item {
            .article__item-name {
                font-size: 1.5rem;
            }
        }
    }
}

@mixin tablet {
    @media(min-width: 768px) and (max-width: 1024px) {

        .news-container {
            padding: 0 70px;
        }
    }
}